{
    "load": ["extensions/src"],
    "aliases" : [
        {
          "trigger": "cleanup",
          "toolset": "arc",
          "command": [
            "!git",
            "clean",
            "-df",
            "&&",
            "git",
            "checkout",
            "--",
            "."
          ]
        },
        {
          "trigger": "init",
          "toolset": "arc",
          "command": [
            "!arc-init"
          ]
        },
        {
          "trigger": "log",
          "toolset": "arc",
          "command": [
            "!git",
            "log",
            "--graph",
            "--topo-order",
            "--date=short",
            "--abbrev-commit",
            "--decorate",
            "--all",
            "--boundary",
            "--pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset %Cblue%G?%Creset'"
          ]
        },
        {
          "trigger": "patch-clean",
          "toolset": "arc",
          "command": [
            "!git",
            "branch",
            "|",
            "cut",
            "-c3-",
            "|",
            "grep",
            "arcpatch-",
            "|",
            "xargs",
            "-n1",
            "git",
            "branch",
            "-D"
          ]
        },
        {
          "trigger": "set-exe",
          "toolset": "arc",
          "command": [
            "!git",
            "update-index",
            "--chmod=+x"
          ]
        },
        {
          "trigger": "status",
          "toolset": "arc",
          "command": [
            "!arc-status"
          ]
        }
    ]
        "patch-clean"  : ["!git branch | cut -c3- | grep arcpatch- | xargs -n1 git branch -D"],
        "set-exe"      : ["!git update-index --chmod=+x"],
        "status"       : ["!arc-status"]
    }
}
